@import url("https://fonts.googleapis.com/css?family=Roboto");

body {
  font-family: "Roboto";
  text-align: left;
  background-color: #f9fafb;
}

.content-box {
  max-width: 600px;
  display: block;
  margin: auto;
}

@media (max-width: 650px) {
  .content-box {
    max-width: calc(100vw - 50px);
    display: block;
  }
}

.menu {
  margin-top: 20px;
  font-size: 14px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media (max-width: 550px) {
  .menu {
    display: none;
  }
}

.menu-list {
  list-style-type: none;
  margin-left: -8px;
  padding: 0;
  margin-bottom: 40px;
}

.menu-list-item {
  display: inline-block;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.menu-item {
  display: block;
  padding: 4px 8px;
  text-decoration: none;
  color: #000;
  border-radius: 5px;
}

.menu-item:hover {
  background-color: #eaeaea;
}

#hamburger-button {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display: none;
  margin-top: 20px;
}

@media (max-width: 550px) {
  #hamburger-button {
    display: block;
  }
}

#hamburger-button:hover {
  cursor: pointer;
}

#close-button {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display: none;
  margin-top: 20px;
}

#close-button:hover {
  cursor: pointer;
}

#mobile-menu {
  margin-left: -7px;
  margin-top: 15px;
  font-size: 16px;
  display: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.mobile-menu-line {
  border: 0.5px solid rgba(0, 0, 0, 0.1);
}

.mobile-menu-item {
  line-height: 2;
  padding: 4px 8px;
  text-decoration: none;
  color: #000;
  border-radius: 5px;
}

.name {
  font-weight: bold;
  font-size: 34px;
  margin-bottom: 0px;
  margin-top: 10px;
}

.profile-picture {
  border-radius: 50%;
  float: right;
  margin-top: 0px;
  margin-bottom: 5px;
  margin-left: 10px;
}

@media (max-width: 550px) {
  .profile-picture {
    border-radius: 50%;
    float: none;
    margin-top: 20px;
  }
}

.job-title {
  margin-top: 0px;
}

.work-link {
  color: #000;
  font-weight: bold;
  text-decoration: none;
}

.work-link:hover {
  text-decoration: underline;
}

.about-text {
  margin-top: 20px;
}

.social-media-icons-box {
  margin-top: 20px;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.social-media-icon-first {
  width: 25px;
  height: 25px;
  margin-right: 5px;
}

.social-media-icon-middle {
  width: 25px;
  height: 25px;
  margin-right: 5px;
  margin-left: 5px;
}

.social-media-icon-last {
  width: 25px;
  height: 25px;
  margin-left: 5px;
}
