@import url("https://fonts.googleapis.com/css?family=Roboto");

body {
  font-family: "Roboto";
  text-align: left;
  background-color: #f9fafb;
}

.content-box {
  max-width: 600px;
  display: block;
  margin: auto;
}

@media (max-width: 650px) {
  .content-box {
    max-width: calc(100vw - 50px);
    display: block;
  }
}

.menu {
  margin-top: 20px;
  font-size: 14px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media (max-width: 550px) {
  .menu {
    display: none;
  }
}

.menu-list {
  list-style-type: none;
  margin-left: -8px;
  padding: 0;
  margin-bottom: 40px;
}

.menu-list-item {
  display: inline-block;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.menu-item {
  display: block;
  padding: 4px 8px;
  text-decoration: none;
  color: #000;
  border-radius: 5px;
}

.menu-item:hover {
  background-color: #eaeaea;
}

#hamburger-button {
  display: none;
  margin-top: 20px;
}

@media (max-width: 550px) {
  #hamburger-button {
    display: block;
    margin-top: 20px;
  }
}

#hamburger-button:hover {
  cursor: pointer;
}

#close-button {
  display: none;
  margin-top: 20px;
}

#close-button:hover {
  cursor: pointer;
}

#mobile-menu {
  margin-left: -7px;
  margin-top: 15px;
  font-size: 16px;
  display: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.mobile-menu-line {
  border: 0.5px solid rgba(0, 0, 0, 0.1);
}

.mobile-menu-item {
  line-height: 2;
  padding: 4px 8px;
  text-decoration: none;
  color: #000;
  border-radius: 5px;
}

#intro-header {
  font-weight: 700;
  font-size: 22px;
  margin-top: 40px;
}

@media (max-width: 550px) {
  .header {
    font-weight: 700;
    font-size: 22px;
    margin-top: 20px;
  }
}

#intro-text {
  font-size: 14px;
  margin-bottom: 40px;
}

.box-photo {
  width: 290px;
  border-radius: 5px;
}

@media (max-width: 650px) {
  .box-photo {
    width: calc(100vw - 100px);
    border-radius: 5px;
  }
}

.box-text {
  margin-top: 5px;
}

.gallery-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media (max-width: 650px) {
  .gallery-grid {
    display: grid;
    grid-template-columns: 0.5fr;
    margin-left: 25px;
    margin-right: 25px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
}

.gallery-box {
  transition: transform 0.5s;
}

.gallery-box:hover {
  cursor: pointer;
  transform: scale(1.1);
}

footer {
  position: relative;
  margin-top: 60px;
  bottom: 20px;
  max-height: calc(100vh - 20px);
}

.footer-text {
  display: inline-block;
}

@media (max-width: 650px) {
  .footer-text {
    font-size: 12px;
  }
}

#year {
  display: inline-block;
}
